<div id="newMovie">
    <h3>Submit a cake</h3>
    <form (submit)="addNewCake()" class="text-center border border-light p-5">
      <label for="">Title</label>
      <p *ngIf="titleError">You must have a title</p>
      <input type="text" name="baker" [(ngModel)]="newCake.imageURL" id="" (keyup)="checkTitle()"><br>
      <label for="">Name</label>
  <p *ngIf="nameError">{{nameError}}</p>
  <input type="text" name="name" id="" [(ngModel)]="reviewer" (keyup)="checkName()">
    <select name="stars" #rating id="" [(ngModel)]="stars">
      <option value=1>1 Star</option>
      <option value=2>2 Star</option>
      <option value=3>3 Star</option>
      <option value=4>4 Star</option>
      <option value=5>5 Star</option>
    </select><br>
  <p *ngIf="commentError">{{commentError}}</p>

    <textarea [(ngModel)]="review" name="comment" #comment id="" cols="20" rows="5" placeholder="Type your comment here" (keyup)="checkComment()"></textarea>
      <input *ngIf="allGood" type="submit">
    </form>
  </div>